VITE_AUTH0_DOMAIN=tu-dominio.us.auth0.com
VITE_AUTH0_CLIENT_ID=tu_client_id_de_auth0
VITE_AUTH0_AUDIENCE=AppMindDetoxBackend
VITE_AUTH0_CALLBACK_URL=https://minddetox-frontend.onrender.com
VITE_ADMIN_EMAIL=correo@itz.edu.mx
VITE_API_URL=https://minddetox-backend.onrender.com/api
